body {
    font-family: Helvetica;
}

h1 {
    font-size: 70px;
    font-weight: bold;
}

.header ul li {
    font-size: 18px;
    list-style-type: none;
}

.header ul li a {
    color: white;
}


.header {
    background-image: url("../images/the-flatiron-building.png");
    color: white;
    text-align: center;
}

h2 {
    font-size: 32px;
    font-weight: bold;
}

.section {
    text-align: center;
}

.section h3 {
    font-size: 23px;
    font-weight: bold;
}

.section p {
    font-size: 14px;
}

.title {
    background-image: url("../images/the-flatiron-building.png");
    color: white;
}